@charset "UTF-8";
/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Yax | Software House Frontend Task - CSS

    Spróbuj zmodyfikować poniższy plik ze stylami tak, by upiększyć formularz na stronie.
    Jako inspiracji* (blokuje cię tylko twoja wyobraźnia ) możesz skorzystać z szablonu znajdującego się w pliku img/layout.png
    Nie wymagamy, by wykonać identyczny layout. Liczy się kreatywność.

    Przy wykonywaniu zadania można zmienić strukturę pliku index.html.
    Pamiętaj, że w takim wypadku będzie trzeba zadbać o dostosowanie odpowiednich selektorów.

    Jeśli korzystasz z preprocessorów takich jak Sass/Less, również możesz się tym pochwalić :).

    Powodzenia!
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-image: url(https://leb.fbi.gov/image-repository/men-shaking-hands-stock.jpg/@@images/image);
  background-position: -500px 0px;
  color: #fff;
  font-family: oswald;
}

.left-side {
  font-size: 2rem;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: rgba(21, 93, 183, 0.4);
}
.left-side h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.8rem;
  line-height: 4.5rem;
  text-shadow: 2px 2px #052954;
}

.right-side {
  background: linear-gradient(135deg, #155db7, #052954);
  text-align: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  box-shadow: -2px 0px 14px #000000b8;
}

.form-box {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.form-box h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 3rem;
  line-height: 2.8rem;
  text-shadow: 2px 2px #052954;
}

#join-form {
  margin-top: 20%;
}
#join-form input {
  display: block;
  margin: 10px auto;
  border: none;
  border-bottom: 1px solid #0d3a72;
  background: transparent;
  color: white;
  padding: 10px;
  width: 100%;
}
#join-form input:focus {
  outline: none;
  border-bottom: 1px solid #4890ea;
  color: #fff;
}
#join-form input:focus::placeholder {
  color: #fff;
}
#join-form input::placeholder {
  color: #cccccc;
}
#join-form #check-header {
  text-transform: uppercase;
  margin: 10% 0 10% 0;
}
#join-form .check-btn {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid #fff;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0px 1px 2px #0000008c;
  position: relative;
}
#join-form .check-btn:hover {
  background-color: #fff;
}
#join-form .check-btn:hover > label {
  color: #155db7;
}
#join-form .check-btn input {
  display: inline;
  width: auto;
  cursor: pointer;
  visibility: hidden;
}
#join-form .check-btn label {
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  z-index: 22;
}
#join-form .check-btn input[type=checkbox] {
  z-index: -20;
}
#join-form .check-btn input[type=checkbox]:checked ~ label::before {
  content: "";
  background-color: #79c800;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0px;
  border-radius: 5px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#join-form .check-btn input[type=checkbox]:checked ~ label {
  color: #adff2f;
}
#join-form #send-btn {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  color: #155db7;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: oswald;
  margin-top: 5%;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: 0px 0px 0px #0000008c inset;
}
#join-form #send-btn:hover {
  position: relative;
  transform: translateY(2px);
  box-shadow: 0px 2px 2px #0000008c inset;
}
#join-form #send-btn:focus {
  color: #155db7;
}

@media screen and (max-width: 600px) {
  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
    top: 100%;
    height: 120%;
  }

  .form-box {
    top: 60%;
    transform: translate(50%, -60%);
    width: 95%;
  }
  .form-box h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  #join-form {
    margin-top: 10%;
  }
  #join-form input {
    width: 90%;
  }

  #send-btn:hover {
    transform: unset !important;
    box-shadow: unset !important;
  }

  .check-btn:hover {
    background-color: unset !important;
  }

  .check-btn:hover > label {
    color: unset !important;
  }
}
/*# sourceMappingURL=form.scss.map */

/*# sourceMappingURL=form.css.map */
